@{
    Layout = null;
}

<!DOCTYPE html>
@model MvcApplication1.Models.ArticlModel
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <div>
        <div>
            <a class="AboutUs">About Us</a><span>sjgfjsdfljsfsjglsdjgsldigsjldgjsdljgsdgjdsgsdjgsdlsjaligjsdlijlidgsdil</span>
        </div>
    </div>
</body>
</html>
